ul#main-nav {font-family:helvetica,arial,sans-serif;margin:0;padding:0;float:left;width:100%;}
ul#main-nav li {margin:0;padding:0;list-style:none;float:left;margin:0;width:8em;}
ul#main-nav li a {text-decoration:none;display:block;padding:0.3em 0.6em;color:white;background:#036;border-left:2px solid #006;}
ul#main-nav li a:hover, ul#main-nav	li a:focus {background:#369;border-left:2px solid yellow;}
ul#main-nav li ul {padding:0;margin:0;display:none;}
ul#main-nav li:hover ul {display:block;}
ul#main-nav li ul li {float:none;}
ul#main-nav li ul li a {font-size:0.9em;}
